$tabletMinWidth: 768px;
$desktopMinWidth: 992px;
$HDdesktopMinWidth: 1200px;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:r,i,b,bi);

body, h1, h2, h3, h4, h5, h6 {
  font-family: "HanHei TC","MHei","PingFang TC","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial", "Microsoft Yahei","Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei","sans-serif" !important;
}

.price {
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 1.2rem;
  sub {
    bottom: 0 !important;
  }
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

#homeVideo .vjs-control-bar, #homeVideo .vjs-hidden {
  display: none !important;
}

.select{
  position: relative;
  line-height: 1.4em;
  select {
    -webkit-appearance: none;
    background: white\0 !important;
  }
  &:after {
    font-family: "Icons";
    content: "\F0D7";
    position: absolute;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.87);
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    line-height: 1;
    right: 0;
    width: 2em;
    text-align: center;
  }
}

.ui[class*="right labeled"].input {
  .select {
    width: 100%;
    select {
      border-top-right-radius: 0!important;
      border-bottom-right-radius: 0!important;
      border-right-color: transparent!important;    
    }
  }
  .select+.label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.ui.menu .ui.simple.dropdown .menu > .item {
  padding: 12px 24px !important;
  min-width: 200px;
}

.ui.dropdown > .dropdown.icon {
  font-size: 1em !important;
}

.ui.simple.dropdown .menu {
  z-index: 9999;
}

.noScroll {
  overflow: hidden;
}

.noMargin {
  margin: 0;
}

.controlGroup{
  input {
    padding:.7em 1em !important;
  }
  .formInputTop {
    border-radius: 0.3rem 0.3rem 0 0 !important;
  }
  .formInputTopLeft {
    width: 50% !important;
    border-radius: 0.3rem 0 0 0 !important;
    border-right: none !important;
  }
  .formInputTopRight {
    width: 50% !important;
    border-radius: 0 0.3rem 0 0 !important;
  }

  .formInputMiddle {
    border-radius: 0 !important;
    border-top: 0 !important;
  }

  .formInputBottom {
    border-top: 0 !important;
    border-radius: 0 0 0.3rem 0.3rem !important;
  }
}

#menuBarContainer {
  opacity: 0;
  transition: opacity 0.3s ease;
  &.fixed {
    opacity: 1.0;
    z-index: 1 !important;
  }
}

#bookContainer.bound.bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

#bookContainer.fixed, #priceContainer.fixed {
  position: fixed;
  top: 0;
}

#priceContainer.fixed {
  background-color: #333;
}

.ui.steps .step.active {
  .title, .icon {
    color: #222 !important;
  }
}

.react-datepicker__input-container {
  width: 100%;
}

.DayPicker {
  outline: none;
  .DayPicker-Day {
    outline: none;
    border: none;
  }
  abbr {
    border-bottom: none !important;
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #d41515 !important;
    color: #fff !important;
  }
  .DayPicker-Day--booked:not(.DayPicker-Day--outside) {
    background-color: #FFD5D5 !important;
    color: #fff !important; 
    cursor: not-allowed !important;
  }
  .DayPicker-Day--notEnough:not(.DayPicker-Day--outside) {
    color: #FBBD08 !important;
  }
  .DayPicker-Day--enough:not(.DayPicker-Day--outside) {
    color: #F2711C !important;
  }
  .DayPicker-Day--fulled:not(.DayPicker-Day--outside) {
    background-color: #FFD5D5 !important;
    color: #DB2828 !important;
    cursor: not-allowed !important;
  }
  .DayPicker-Day--outside {
    color: #fff !important;
    background-color: transparent !important;
  }
}

.ui.segments, .ui.segment {
  border: none;
  box-shadow: 0px 0px 3px 0px #e3e4e5;
}

.card, .shadowItem {
  border: none !important;
  box-shadow: 0px 0px 3px 0px #e3e4e5 !important;
}

.ui.segments>.ui.segment {
  box-shadow: none !important;
}

.pageheader {
  font-size: 1.6rem;
  color: #888;
  margin-bottom: 1.8rem;
  text-align: center;
  .label {
    margin-left: .5rem !important;
    margin-top: -.2rem !important;
    position: relative !important;
  }
}

@media (min-width: $desktopMinWidth) {
  .pageheader {
    text-align: left;
    margin-bottom: 1.5rem;
  }
}

.slider-frame {
  li.slider-slide {
    height: 400px !important;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      margin: auto; 
      /*max-height: 100%;*/
      min-width: 100%;

      /* For the following settings we set 100%, but it can be higher if needed 
      See the answer's update */
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      width: auto !important;
    }
  }  
}

@media (max-width: 767px) {
  .slider-frame {
    li.slider-slide {
      img {
        max-height: 400px;
      }
    }
  }
}

@media (min-width: $tabletMinWidth) {
  .slider-frame {
    li.slider-slide {
      min-height: 550px !important;
    }
  }
}

.ui.form input:focus, .ui.form textarea:focus {
  /* border-color: rgba(34, 36, 38, 0.25) !important; */
  /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(34, 36, 38, 0.25) !important; */
}

a.dc-link {
  color: #d41515 !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.toggle-container .ui.toggle.checkbox {
  label { color: #888; }
  input:checked {
    ~ .box:before, ~ label:before {
      background: #21ba45 !important;
    }
  }
}

.ui.basic.button {
  &.noBorder, &.noBorder:hover {
    box-shadow: none !important;
    color: #FF695E !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

.profile {
  .ui.inverted.red.button.noBorder {
    padding-left: .5em;
    padding-right: .5em;
  }
}

.ui.red.buttons .button, .ui.red.button {
  &.basic.dashed,  
  &.basic.dashed:hover, 
  &.basic.dashed:active,
  &.basic.dashed:focus {
    box-shadow: none !important;
  }
  &:not(basic), &:not(inverted) {
    box-shadow: 0px 0px 0px 0px rgba(34, 36, 38, 0.15), inset 0px 0px 0px 0px rgba(34, 36, 38, 0.15) !important;
    transition: all 0.3s ease-in-out !important;
    &:hover, &.active, &.active:active {
      box-shadow: 0px 4px 12px 0px rgba(208, 25, 25, 0.45) !important;
    }
  }
}

@media (max-width: 767px) {
  .modal #bookIt .halfField{
    width: 49.9% !important;
  }
  .ui.form .fields {
    margin-bottom: 1rem !important;
    .field {
      margin-bottom: .5rem !important;
    }
  }
}

#react-images-container, .rc-drawer-overlay {
  z-index: 17000001 !important;
}

.rc-drawer-overlay {
  position: fixed !important;
  background-color: rgba(239,239,239,0.96) !important;
}

.rc-drawer-sidebar {
  position: fixed !important;
  z-index: 17000002 !important;
}

.svgIcon {
  margin-top: -.3em !important;
}

.tleft {
  text-align: left;
}

.tright {
  text-align: right;
}

.tcenter {
  text-align: center;
}

#fb-widget {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  .button {
    margin: 0;
    background-color: #56B4FF;
    font-size: 1.5em;
    padding: .5em;
    @media (min-width: $desktopMinWidth) {
      font-size: 1.8em;
    }
    i {
      color: white;
    }
  }
}

.Select-menu-outer {
  .Select-option {
    &.is-selected {
      background-color: transparent;
      color: #000;
      font-weight: bold;
    }
    &.is-focused {
      background-color: #FBDFDF;
    }
  }
}

.Select--multi {
  .Select-value {
    background-color: #eee;
    border: solid 1px #ccc;
    color: #222;
  }
  .Select-value-icon {
    border-right: none;
    &:hover, &:focus {
      background-color: #ccc;
      color: #222;
    }
  }
}

.Select-control {
  .Select-input input {
    border: none !important;
    padding: 8px 0 12px !important;
  }
}

#bookForm {
  .Select {
    outline: none;
    &>.Select-control {
      cursor: pointer;
    }
    &.is-disabled {
      &>.Select-control {
        cursor: initial;
      }
    }
    &.has-value .Select-arrow-zone{
      display: none;
    }
    .Select-control:hover {
      box-shadow: none;
    }
    &.is-focused:not(.is-open)>.Select-control {
      border: 1px solid #ccc;
      box-shadow: none;
    }
  }
  .Select-value {
    text-align: center;
  }
}