$tabletMinWidth: 768px;
$desktopMinWidth: 992px;
$HDdesktopMinWidth: 1200px;

.container {
  margin-bottom: 20px !important;
  @media (min-width: $tabletMinWidth) {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  &>div{
    @media (max-width: 767px) {
      margin-top: 20px !important;
    }
  } 
}
.actionBar {
  text-align: center;
}
.orderActionBar {
  text-align: center;
  margin-bottom: 15px;
}
.fields {
  margin: 0 !important;
}

.field {
  margin: 0 !important;
}

.submitButton {
  min-width: 72px !important;
}

.item {
  margin-bottom: 24px;
}

.feed {
  width: 100%;
  clear: both;
  .userName {
    padding: 0rem .5rem;
    font-weight: bold;
    color: #333;
  }
  &.my {
    text-align: right;
  }
  &.other {
    margin-left: 0.25em !important;
  }
}
.message {
  color: #555;
  padding: 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 20px;
  max-width: 85%;
  position: relative;
  margin-bottom: 5px;

  &:after {
    top: 100%;
    left: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #efefef;
    border-width: 10px;
  }

  .datetime {
    font-size: .8rem;
    line-height: 1rem;
    color: #bbb;
  }

  &.other {
    float: left;
    background-color: #efefef;
    .datetime {
      text-align: left;
    }
  }

  &.my {
    float: right;
    background-color: #FFE8E6;
    &:after {
      border-top-color: #FFE8E6;
      right: 25px;
      left: auto;
    }
    .datetime {
      text-align: right;
    }
  }

  .subject {
    font-size: 1.2rem;
    color: #222;
  }

  .payStatus {
    color: #21ba45;
  }
}