doctype html
html(lang=i18n.locale)&attributes(head.htmlAttributes.toComponent())
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(property='article:author', content='https://www.facebook.com/dearchefHQ') 
    | !{head.title.toString()}
    | !{head.base.toString()}
    | !{head.meta.toString()}
    | !{head.link.toString()}
    link(rel='canonical', href=fullUrl)
    link(rel='stylesheet', href=DLL_CSS)
    link(rel='stylesheet', href=webpack_asset('vendor').css)
    link(rel='stylesheet', href=webpack_asset('app').css)
    | !{head.script.toString()}
    script
      | window.__INITIAL_STATE__ = '!{reduxState}';
  body
    div#root!= html
    script(src=DLL_JS)
    script(src=webpack_asset('vendor').js)
    script(src=webpack_asset('app').js)
